* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

h1 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px 0;
}

.title span {
  height: 50px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: "Oxygen", sans-serif;
  font-weight: 600;
  color: white;
  word-spacing: 0.1rem;
  letter-spacing: 0.1rem;
  background-color: black;
}

.content {
  height: 85vh;
  width: 100%;
  display: flex;
}

.content .options {
  height: 100%;
  width: 42%;
}

.content .options span {
  margin: 20px auto;
  height: 45px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: "Oxygen", sans-serif;
  font-weight: 600;
  color: white;
  word-spacing: 0.1rem;
  letter-spacing: 0.1rem;
  background-color: black;
}

.content .options .options-box {
  height: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 15px 15px 20px 25px;
  background-color: rgb(240, 240, 240);
}

.options .options-box .options-inside-box {
  margin: 0 20px 20px 20px;
  padding: 15px;
  height: 75%;
  background-color: white;
}

.options-box .options-inside-box .inside-box {
  margin-top: 20px;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options-inside-box .inside-box label {
  padding: 2.5px;
  font-size: 20px;
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.options-inside-box .inside-box input {
  padding: 2.5px 2.5px 2.5px 15px;
  border: none;
  outline: none;
  width: 80px;
  height: 40px;
  background-color: rgb(240, 240, 240);
  font-size: 17.5px;
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  letter-spacing: 0.05rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.options-box .bar {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.options-box .bar input {
  width: 100%;
  border: none;
  outline: none;
}

.options .options-box .options-gerenate-button {
  margin: 0 20px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.options-box .options-gerenate-button button {
  height: 42.5px;
  width: 130px;
  font-size: 17.5px;
  font-family: "Oxygen", sans-serif;
  font-weight: 900;
  color: black;
  letter-spacing: 0.1rem;
  border: solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.options-box .options-gerenate-button button:hover {
  color: white;
  background-color: black;
}

.content .result {
  width: 58%;
  height: 100%;
}

.content .result span {
  margin: 20px auto;
  height: 45px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: "Oxygen", sans-serif;
  font-weight: 600;
  color: white;
  word-spacing: 0.1rem;
  letter-spacing: 0.1rem;
  background-color: black;
}

.content .result .result-box {
  height: 80%;
  padding-top: 20px;
  margin: 0 25px 20px 15px;
  background-color: rgb(240, 240, 240);
}

.result .result-box .result-inside-box {
  margin: 0 20px 20px 20px;
  padding: 15px;
  height: 75%;
  background-color: white;
  overflow: scroll;
}

.lorem-text .text-result {
  color: black;
  font-size: 17.5px;
  font-family: "Oxygen", sans-serif;
  font-weight: 550;
  word-spacing: 0.1rem;
}

.result .result-box .result-copy-button {
  margin: 0 20px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result .result-box .result-copy-button button {
  height: 42.5px;
  width: 130px;
  font-size: 17.5px;
  font-family: "Oxygen", sans-serif;
  font-weight: 900;
  color: black;
  letter-spacing: 0.1rem;
  border: solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result .result-box .result-copy-button button:hover {
  color: white;
  background-color: black;
}
